@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	color: #ff8585;
	text-align: center;
	background: url('./background.jpg');
	background-size: cover;
}

#board {
	width: 540px;
	height: 540px;
	/* background-color: green; */
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

	background: url('./soil.png');
	background-size: cover;
	border: 3px solid rgb(125, 64, 0);
	border-radius: 25px;
}
